.configuration {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;

    &__settings {
        display: flex;
        flex-direction: column;
        gap: 30px;

        label {
            display: block;
            padding-bottom: 5px;
            border-bottom: 2px solid var(--red);
            font-weight: 600;
            font-size: 16px;
        }
    }

    &__stock,
    &__price,
    &__date {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__date {

        &-from,
        &-to {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__error {
        font-size: 12px;
        color: var(--red);
    }

    &__submit {
        width: 100%;
        text-align: center;
        background: var(--blue);
        color: #fff;
        padding: 15px;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .configuration {
        &__settings {
            gap: 20px;

            label {
                padding-bottom: 4px;
                font-size: 14px;
            }
        }

        &__error {
            font-size: 14px;
        }

        &__submit {
            padding: 12px;
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .configuration {
        max-width: 100%;

        &__settings {
            gap: 15px;

            label {
                padding-bottom: 3px;
                font-size: 12px;
            }
        }

        &__error {
            font-size: 12px;
        }

        &__submit {
            padding: 10px;
            margin-top: 15px;
            font-size: 12px;
        }
    }
}

@media (max-width: 480px) {
    .configuration {
        &__settings {
            gap: 10px;

            label {
                padding-bottom: 2px;
                font-size: 10px;
            }
        }

        &__error {
            font-size: 10px;
        }

        &__submit {
            padding: 8px;
            font-size: 10px;
        }
    }
}